<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ionic/release/css/ionic.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link href="styles/main.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="styles/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ionic/release/js/ionic.js"></script>
    <script src="bower_components/ionic/release/js/ionic-angular.js"></script>
    <script src="bower_components/ngCordova/dist/ng-cordova.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <!-- build:js scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/configuration.js"></script>
    <script src="scripts/services.js"></script>
    <!-- endbuild -->
  </head>

  <body ng-app="oic_demo">
    <ion-nav-view></ion-nav-view>

    <script id="templates/modals/discoveringModal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <h1 class="title">Discovering devices and resources</h1>
        </ion-header-bar>
        <ion-content>
          <p class="message">
            Please wait while the discovery process takes place...
          </p>
        </ion-content>
      </ion-modal-view>
    </script>

    <script id="templates/modals/editResourcePropertyModal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <h1 class="title">Edit resource property</h1>
        </ion-header-bar>
        <ion-content>
            <div class="list list-inset">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Key</span>
                    <input type="text" placeholder="{{resourcePropertyBeingEdited}}" ng-disabled="true"/>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Value</span>
                    <input type="text" placeholder="Value" ng-model="resource.properties[resourcePropertyBeingEdited]"/>
                    <span class="help-text">(Please use a JSON parseable value)</span>
                </label>
                <button class="item button button-block button-positive" ng-click="save()" ng-disabled="saving">
                    <span ng-if="saving"><i class="icon ion-load-c"></i></span>
                    <span ng-if="!saving">Save</span>
                </button>
            </div>
        </ion-content>
      </ion-modal-view>
    </script>
  </body>
</html>
