<ion-view view-title="Devices">
  <ion-content>
    <div class="empty-set" ng-if="devices.length == 0">
        Discovering devices...
    </div>
    <ion-list class="devices" ng-if="devices.length > 0">
        <ion-item
            class="device"
            ng-repeat="device in devices">

            <strong>UUID</strong>: {{device.uuid || "n/a"}} <br/>
            <strong>URL</strong>: {{device.url || "n/a"}} <br/>
            <strong>Name</strong>: {{device.name || "n/a"}} <br/>
            <strong>Data models</strong>: {{device.dataModels || "n/a"}} <br/>
            <strong>Core spec version</strong>: {{device.coreSpecVersion || "n/a"}} <br/>
            <strong>Role</strong>: {{device.role || "n/a"}} <br/>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
