<ion-view view-title="Resources">
  <ion-content>

    <div class="empty-set" ng-if="resources.length == 0 && settings.resourceDiscovery.continuous">
        Discovering resources...
    </div>

    <div class="empty-set" ng-if="resources.length == 0 && !settings.resourceDiscovery.continuous">
        Please enable discovery in the settings.
    </div>

    <ion-list class="resources" ng-if="resources.length > 0">
        <ion-item
            class="resource"
            ng-repeat="resource in resources"
            ui-sref="app.resource({resourceId: $index})">

            <strong>Device ID</strong>: {{resource.id.deviceId}} <br/>
            <strong>Path</strong>: {{resource.id.resourcePath}} <br/>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
