<ion-view view-title="Resource">
    <ion-content>
        <div class="list list-inset">

            <div class="item item-divider">
                Device id
            </div>
            <div class="item">
                {{resource.id.deviceId}}
            </div>

            <div class="item item-divider">
                Path
            </div>
            <div class="item">
                {{resource.id.resourcePath}}
            </div>

            <div class="item item-divider" ng-if="resource.resourceTypes.length > 0">
                Types
            </div>
            <div class="item" ng-repeat="type in resource.resourceTypes">
                {{type}}
            </div>

            <div class="item item-divider" ng-if="resource.interfaces.length > 0">
                Interfaces
            </div>
            <div class="item" ng-repeat="interface in resource.interfaces">
                {{interface}}
            </div>

            <div class="item item-divider" ng-if="resource.mediaTypes.length > 0">
                Media types
            </div>
            <div class="item" ng-repeat="mediaType in resource.mediaTypes">
                {{mediaType}}
            </div>

            <div class="item item-divider">
                Observable
            </div>
            <div class="item">
                <span ng-if="resource.observable">Yes</span>
                <span ng-if="!resource.observable">No</span>
            </div>

            <div class="item item-divider">
                Properties
            </div>
            <div class="item item-button-right" ng-repeat="(key, value) in resource.properties">
                {{key}}: <strong>{{value}}</strong>
                <button class="button button-positive" ng-click="editResourceProperty(key)">
                    <i class="icon ion-edit"></i>
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
